
body{
background-color:black;

  }

  .header{
    display:grid;
    grid-template-columns: 5% 30% 55% 5%;


  }

.video {
    display:grid;
    grid-template-columns: 25% 70% 5%;
    margin-bottom:20px;
  }
